:root{
    --main-bg-color: #F5EFF5;
    --primary-bg-color: #FF749F;
    --primary-bg-color-hover: #FF558A;
    --secondary-bg-color: #6bc778;
    --secondary-bg-color-hover: #5cad68;
    --block-bg-color: #FFFFFF;
    --block-bg-color-hover: #eeeeee;
    --primary-text-color: #FFFFFF;
    --secondary-text-color: #1A2030;
    --unactive-text-color: #B7B7B7;
    --primary-review-text: #861C82;
    --secondary-review-text: #9C789B;
}