:root{
    --main-bg-color: #F5EFF5;
    --primary-bg-color: #FF749F;
    --primary-bg-color-hover: #FF558A;
    --secondary-bg-color: #73D982;
    --block-bg-color: #FFFFFF;
    --primary-text-color: #FFFFFF;
    --secondary-text-color: #1A2030;
    --unactive-text-color: #B7B7B7;
}