.avatarUploader{
    width: 100%;
    display: flex;
    justify-content: center;
}

.avatarUploader div{
    width: 200px !important;
    height: 200px !important;
    border-radius: 50% !important;
}

.avatarUploader span{
    border-radius: 50%;
    overflow: hidden;
}

.avatarUploader img{
    width: fit-content !important;
    height: 100% !important;
}

.avatarUploader button{
    width: 100% !important;
    height: 100% !important;
    padding-top: 75px !important;
    display: block;
}